/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

---------

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nunito-sans-regular {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body h2{
    font-family: Tenor Sans, sans-serif;
}

body span {
    font-family: "Nunito Sans", sans-serif;
}

.mainpage h2{
    color: #282828;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 2%;
    margin: 0;
}
.color_item{
    width: 50px;
    height: 50px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.container {
    max-width: 1580px;
    padding-right: 0;
    padding-left: 0;
    padding: 50px 60px;
    width: 100%!important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mainpage .title {
    width: 25%;
    padding-right: 5%;
}

.mainpage .catalogblock {
    width: 75%;
}

.mainpage .bx-filter.bx-blue .bx-filter-section {
    background: transparent;
}

.mainpage .bx-filter.bx-blue .bx-filter-section .row {
    display: none;
}

.mainpage .bx-filter.bx-blue .bx-filter-section form .row {
    display: block;
}

.mainpage .bx-filter.bx-blue .bx-filter-section .col-md-4 {
    width: unset;
}

body .bx-filter .bx-filter-parameters-box-title span{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2%;
    color: #969696;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    text-decoration-style: solid;
}
.heart {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}
.heart.active {
    width: 10px;
    height: 10px;
    background: #000;
    border: 1px solid #000;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}

.imagblock .image, .only_imagblock .image{
    position: relative;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
}
.catalog_item {
    width: 24%;
    margin-right: 1%;
}

.mainpage .title span {
    font-family: Tenor Sans, sans-serif;
    color: #969696;
    font-size: 18px;
    position: absolute;
    right: 105px;
}

.mainpage .title {
    position: relative;
}

.mainpage .bx-filter.bx-blue .bx-filter-section form .row {
    display: flex;
}

.fa-angle-down:before {
    color: #282828;
}

body .bx-filter .bx-filter-parameters-box-title span {
    border-bottom: 1px solid #282828;
}

.bx-filter .bx-filter-parameters-box-title span:hover {
    border-color: #282828 !important;
}

.mainpage .bx-filter.bx-blue .bx-filter-section form {
    display: flex;
    justify-content: space-between;
}

.catalog_item {
    width: 32%;
    margin-right: 1%;
}

.mainpage .slick-dots li.slick-active button:before {
    opacity: 1;
    color: black;
}

.mainpage .slick-dots li button:before {
    width: 85px;
    height: 3px;
}

.mainpage .slick-dots li button {
    width: 85px;
    height: 3px;
    padding: 0;
}

.mainpage .slick-dots li {
    width: 80px;
    height: 3px;
}

.mainpage .slick-dots li button:before {
    display: block;
    position: absolute;
    content: '';
    width: 85px;
    height: 3px;
    background: #282828;

}

.mainpage .slick-dots {
    bottom: unset;
    top: 0;
}

.heart::before {
    display: block;
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    background: url(/upload/Wishlist.svg);
}

.heart {
    width: 26px;
    height: 26px;
    border: 0;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}

.heart.active {
    width: 26px;
    height: 26px;
    background: none;
    border: 0;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
}

.mainpage .slick-dotted.slick-slider {
    margin-bottom: 10px;
}

.catalog_title a {
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    color: #282828;
    font-weight: 600;
}

.rating_review {
    display: flex;
    padding-top: 2px;
}

.rating_review div {
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
    color: #535353;
    font-size: 14px;
}

.rating {
    padding-right: 10px;
    padding-left: 18px;
    position: relative;
}

.rating::before {
    display: block;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url(/upload/Star.svg);
    left: 0;
}

.bottom1 .color {
    padding-top: 10px;
}

.color_item {
    width: 12px;
    height: 12px;
    border-radius: 100px;
}

.spisok_color {
    display: flex;
}

.spisok_color .color_item:not(:last-child) {
    margin-right: 12px;
}

.bottom1 .price {
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.new_price {
    font-size: 18px;
    font-weight: 600;
    color: #282828;
    font-family: Nunito Sans, sans-serif;
    padding-right: 10px;
}

.old_price {
    font-size: 14px;
    color: #B3B3B3;
    font-weight: 400;
    position: relative;
    font-family: Nunito Sans, sans-serif;
}

.old_price::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B3B3B3;
    top: 8px;
}

.bottom2 .catalog_title, .bottom2 .price, .bottom2 .rating_review {
    display: none;
}

.bottom2 .alsizes {
    display: flex;
}

.bottom2 {
    display: none;
}

.catalog_item:hover .bottom2 {
    display: block;
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 20px;
}

.catalog_item:hover .bottom1 {
    padding: 0 20px;
    padding-top: 20px;
}

.catalog_item:hover {
    box-shadow: 0px 0px 18px 0px #0000001F;
}

.catalog_item:hover .bottom1 .color {
    display: none;
}

.zagprop {
    font-size: 12px;
    font-weight: 400;
    color: #535353;
    font-family: Nunito Sans, sans-serif;
}

.bottom2 .color {
    padding-top: 10px;
}

.bottom2 .size {
    padding-top: 15px;
}

/* .catalog_item:hover {
    box-shadow: 0px 0px 18px 0px #0000001F;
    padding: 20px 15px;
} */

.alsizes {
    padding-top: 10px;
}

.size_item-name {
    font-size: 14px;
    font-weight: 700;
    color: #282828;
}

.size_item-size {
    color: #969696;
    font-size: 14px;
}

.sizes {
    padding: 6px 10px;
    text-align: center;
}

.sizes:not(:last-child) {
    margin-right: 6px;
}

.spisoksize {
    display: flex;
    align-items: center;
}

.sizes:hover, .more:hover {
    background: #F1F1F1;
}

.more {
    margin-left: 6px;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #282828;
}

.bottom2 .spisok_color {
    padding-top: 6px;
}

.bottom2 .spisok_color .color_item {
    width: 30px;
    height: 30px;
}

.button_buy {
    padding-top: 20px;
}

.button_buy .btn {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    background: #282828;
    border: 1px solid #282828;
    padding: 12px 50px;
    border-radius: 0;
}

.button_buy .btn:hover {
    background: transparent;
    color: #282828;
}

.catalog_item {
    position: relative;
}

.mainpage .modern-page-navigation {
    padding-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modern-page-title {
    font-size: 18px;
    color: #535353;
}

.modern-page-first {
    font-size: 18px;
    color: #282828;
}

.mainpage .modern-page-all {
    background: #282828;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
}

.bx-filter-block .col-xs-12 {
    padding: 30px 25px;
    background: #fff;
    box-shadow: 0px 0px 18px 0px #0000001F;
    position: absolute;
    z-index: 99;
    width: 150px;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-text {
    font-size: 18px;
}

.mainpage .bx-filter.bx-blue .bx-filter-section .col-md-4.bx-active {
    position: relative;
}

.bx-filter .checkbox {
    margin-bottom: 0;
}

.bx-filter .checkbox:not(:last-child) {
    margin-bottom: 10px;
}

.bx-filter .checkbox+.checkbox {
    margin-top: 0;
}

.mainpage .bx-filter-parameters-box-container {
    padding-bottom: 0;
}

.mainpage .bx-filter.bx-blue .btn-themes {
    background-color: #282828;
    border-color: #282828;
    color: #FFF;
    border-radius: 0;
    padding: 7px 30px;
    font-size: 14px;
    font-family: Nunito Sans, sans-serif;
}

.mainpage input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #282828;
    font-size: 14px;
    font-family: Nunito Sans, sans-serif;
}

.catalog_item  {
    margin-bottom: 1%;
}








@media (max-width: 968px) {
    .container {
        flex-direction: column;
    }

    .mainpage .title {
        width: 100%;
        padding-right: 0;
    }

    .mainpage .catalogblock {
        width: 100%;
    }

    .mainpage .slick-dots li button:before, .mainpage .slick-dots li button, .mainpage .slick-dots li {
        width: 56px;
        height: 2px;
    }

    .mainpage .title span {
        right: unset;
        left: 30%;
    }

}

@media (max-width: 768px) {
    .mainpage .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .mainpage .bx-filter.bx-blue .bx-filter-section form {
        flex-direction: column;
    }

    .mainpage .bx-filter.bx-blue .bx-filter-section form .row:nth-child(4) {
        padding-bottom: 30px;
    }

    .catalog_item {
        width: 49%;
        margin-right: 1%;
    }

    .mainpage .title span {
        right: unset;
        left: 37%;
    }

}


@media (max-width: 390px) {
    .catalog_title a {
        font-size: 14px;
        color: #282828;
    }

    .new_price {
        font-size: 14px;
    }

    .catalog_item {
        margin-bottom: 15px;
    }

    .mainpage .slick-dotted.slick-slider {
        margin-bottom: 20px;
    }

    .mainpage .slick-dots li button:before, .mainpage .slick-dots li button, .mainpage .slick-dots li {
        width: 15px;
        height: 2px;
    }

    .mainpage .slick-dots {
        bottom: unset;
        top: unset;
        width: unset;
    }

    .mainpage .title span {
        right: 80px;
        left: unset;
    }

    body .bx-filter .bx-filter-parameters-box-title span {
        display: flex;
    }

    .mainpage .bx-filter.bx-blue .bx-filter-section form .row:nth-child(4) {
        overflow-x: auto;
        position: relative;
        width: 100%;
    }

    .mainpage .bx-filter.bx-blue .bx-filter-section form .row:nth-child(4) {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .mainpage .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    body .bx-filter .bx-filter-parameters-box-title span {
        font-size: 14px;
        white-space: nowrap;
        align-items: baseline;
    }

    body .bx-filter .bx-filter-parameters-box-title span i {
        padding-left: 7px;
    }

    .heart {
        width: 20px;
        height: 20px;
        border: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
        cursor: pointer;
    }

    .heart::before {
        display: block;
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: url(/upload/Wishlist.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}































